#bgmodal{
    background-color: rgba(54, 54, 54, 0.8);
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    z-index: 100;
    transition: all 0.3s ease;
}

#modal{
    z-index: 200;
    position: relative;
    background-color: white;
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
    height: 80%;
    width: 80%;
    border: 2px solid #555555;
    margin: auto;
    top: 10%;
}

#modalContent{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

#close{
    position: absolute;
    top: 5px;
    right: 10px;
}

.pointer{
    cursor: pointer;
}

#backToTop{
    position: fixed;
    bottom: 5px;
    right: 10px;
    opacity: O.7;
}
